<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./styles/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
        </script>
    </head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="https://te.legra.ph/file/6ab552142c2cc377741ae.png" alt="Logo">
                </a>
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a href="/getTableData">Pokemon Data</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="hero">
        <h1>PokeDex</h1>
        <div class="info-search" style="height:600px; margin:0 auto; border:1px solid rgb(9, 135, 170); background-color: rgba(176, 198, 208, 1); border-radius:5%; padding-top: 50px; margin-left: 80px; margin-right: 80px; box-shadow: 5px 5px 15px 5px #000000;">
        <div class="container">
            <form id="infoform" class="form-inline" style="width:50%; margin:0 auto;" method="POST" action="/info">
                <label for="name">Search Name:</label>
                <input type="text" 
                       class="form-control" 
                       id="name" 
                       placeholder="Enter Pokemon name" 
                       name="name">
                <button type="submit" class="btn btn-danger">Get Info</button>
            </form>
            <!-- <h4>Horizontal Form</h4> -->
            <br>
            <form id="dropform" class="form-inline" style="width:50%; margin:0 auto;" action="/not_implemented_page">
                <label for="poketype">Sort by type:&nbsp;</label>
                <select class="form-control" id="poketype" name="poketype">
                    <option>Select Type</option>
                    <option value="grass">Grass</option>
                    <option value="poison">Poison</option>
                    <option value="fire">Fire</option>
                </select>
                <button type="submit" class="btn btn-danger">Search</button>
            </form>
        </div>
        </div>
    </div>
</body>
</html>
